Source: adaptation-droidian-surya
Maintainer: FakeShell
Section: metapackages
Priority: optional
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/droidian-surya/adaptation-droidian-surya
Vcs-Git: https://github.com/droidian-surya/adaptation-droidian-surya.git

Package: adaptation-surya
Architecture: arm64
Depends: ${misc:Depends},
         adaptation-hybris-api29-phone,
         adaptation-surya-configs (= ${binary:Version}),
Description: Xiaomi POCO X3 NFC - metapackage

Package: adaptation-surya-configs
Architecture: arm64
Depends: ${misc:Depends},
Description: Xiaomi POCO X3 NFC - adaptation configurations
